@font-face {
    font-family: "SF Pro Regular";
    src:
        local("../fonts/SF-Pro-Text-Regular.otf"),
        url("../fonts/SF-Pro-Text-Regular.otf");
}

body {
    font-family: "SF Pro Regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.primary-color {
    color: #FBB316 !important;
}

.secondary-color {
    color: #221E1F !important;
}

h2,
h3,
h4,
h5,
h6 {
    color: #FBB316;
    margin-bottom: 0;
}

p {
  font-size: .75rem; 
  line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-weight: var(--h1-weight);
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}

h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    line-height: 1.5;
}

h4 {
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: 1.3;
}

h5 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
}

h6 {
    font-size: var(--h6-size);
    font-weight: var(--h6-weight);
}

p {
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: 1.5;
    color: var(--primary-p-color);
    margin-bottom: 0;
}

a {
    color: var(--nav-item-color);
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
    color: #FBB316;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #FBB316 !important;
    border-color: #FBB316 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e8a718 !important;
    border-color: #e8a718 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #e8a718 !important;
    border-color: #e8a718 !important;
    box-shadow: none !important;
}

.btn-secondary {
    color: #FBB316;
    background-color: #221E1F !important;
    border-color: #221E1F !important;
  }

.btn-secondary:hover {
    color: #FBB316;
    background-color: #0a0a0a !important;
    border-color: #0a0a0a !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #FBB316;
    background-color: #0a0a0a !important;
    border-color: #0a0a0a !important;
    box-shadow: none !important;
}
  



/* NAVIGATION */
.navbar-dark {
    background-color: #000000 !important;
    height: 80px;
}

.navbar-brand-img {
    height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #FBB316;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #FBB316;
}

.viewer-ue {
    background-color: #000000 !important;
    height: calc(100vh - 80px);
    display: inline-flex !important;
}

.section,
.work-area {
    margin: 100px 0;
}

.work-area {
    background-color: #fff;
}

.heading-title {
    margin-top: 2rem;
}

.heading-subtitle {
    color: #221E1F !important;
    font-size: 1.2rem;
    line-height: 2;
}

.work-area p {
    font-size: 1rem;
    line-height: 1.6;
}

.details-area {
    margin: 100px 0;
    background: rgb(251,179,22);
    background: linear-gradient(180deg, rgba(251,179,22,1) 35%, rgba(255,255,255,1) 85%);
}

.footer-area {
    background-color: #221E1F;
    margin-bottom: 0 !important;
}

.footer-links .nav-link, .footer-links a {
    font-size: .90rem;
    font-weight: lighter;
}

.footer-area .footer-infos {
    border-top: 1px solid rgb(251,179,22);
    width: 100%;
}

.footer-infos .info-element {
    padding-left: .25rem;
    padding-right: .25rem;
}